<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Tournament Near Me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAzbAG3wZN7pS2i0Dzs9MNzdqSfY7fvQF8"></script>
    <script>
        var searchInput = 'search_input';
        $(document).ready(function () {
            var autocomplete;
            autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
            });
        
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();
                document.getElementById('loc_lat').value = near_place.geometry.location.lat();
                document.getElementById('loc_long').value = near_place.geometry.location.lng();
                
                document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
                document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
            });
        });
    </script>
</head>
<body>
<h1>Food Tournament Near Me</h1>
<form action="{% url 'choice' %}" method="POST">
    {% csrf_token %}
    <!-- Autocomplete location search input -->
    <div class="form-group">
        <label>Location:</label>
        <input type="text" class="form-control" id="search_input" placeholder="Type address..." required />
        <input type="hidden" name="latitude" id="loc_lat" />
        <input type="hidden" name="longitude" id="loc_long" />
    </div>
    <!-- Display latitude and longitude -->
    <!-- <div class="latlong-view">
        <p><b>Latitude:</b> <span id="latitude_view"></span></p>
        <p><b>Longitude:</b> <span id="longitude_view"></span></p>
    </div> -->
    <label>radius:</label>
    <div class="radius">
        <input type="text" name="radius" placeholder="Type searching Radius..." required/>
    </div>
    <label>round:</label>
    <div class="round">
        <input type="text" name="round" placeholder="Type Round..." required />
    </div>
    <input type="submit" value="Search!">
</form>
</body>
</html>