{% extends 'base.html' %}
{% load static %}
{% block title %}Menus Tournament Nearby{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAzbAG3wZN7pS2i0Dzs9MNzdqSfY7fvQF8"></script>
    <script>
        var searchInput = 'search_input';
        $(document).ready(function () {
            var autocomplete;
            autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();
                document.getElementById('loc_lat').value = near_place.geometry.location.lat();
                document.getElementById('loc_long').value = near_place.geometry.location.lng();
                
                document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
                document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="row">
    
    <div class="column">
        <div class="title">
            <h1><span class="menu">Menus</span> <span class="tournament">Tournament</span> Nearby<br>
                <span class="subtitle">Choose 1 <span class="menu">Menu</span> from Random Menus nearby</span>
            </h1>
        </div>
    </div>

    <div class="column">
        <div class="form">
        <form action="{% url 'choice' %}" method="POST">
            {% csrf_token %}
            <!-- Autocomplete location search input -->
            <div class="form-group">
                <div class="form">
                    <label for="location"></label>
                    <input type="text" class="form-control" id="search_input" placeholder="Input Your Location" required />
                    <input type="hidden" name="latitude" id="loc_lat" />
                    <input type="hidden" name="longitude" id="loc_long" />
                </div>
                <div class="form">
                    <label for="radius"></label>
                    <input type="text" id="radius" name="radius" placeholder="Radius" required/>
                </div>
                <div class="form">
                    <label for="round"></label>
                    <select id="round" name="round" required>
                        <option value="4">Round of 4 (Semi-Final)</option>
                        <option value="8">Round of 8 (Quarter-Final)</option>
                    </select>
                </div>
                <div class="form">
                    <label for="max_price">Price level</label>
                    <input type="range" id="max_price" name="max_price" min="2" max="4">
                </div>
                <div class="form">
                    <input type="checkbox" class="chk-btn" name="open_now" id="open" value="Ture" /><label for="open">OPENED NOW</label>
                </div>
                    <input type="submit" id="submit-btn" value="Search!" />
            </div>
        </form>
        </div>
    </div>

</div>
{% endblock %}