{% extends 'base.html' %}
{% load static %}
{% block title %}Food Tournament Near Me{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />{% endblock %}
{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAzbAG3wZN7pS2i0Dzs9MNzdqSfY7fvQF8"></script>
    <script>
        var searchInput = 'search_input';
        $(document).ready(function () {
            var autocomplete;
            autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();
                document.getElementById('loc_lat').value = near_place.geometry.location.lat();
                document.getElementById('loc_long').value = near_place.geometry.location.lng();
                
                document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
                document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="display-1">Food Tournament Near Me</h1>
<form action="{% url 'choice' %}" method="POST">
    {% csrf_token %}
    <!-- Autocomplete location search input -->
    <div class="form-group">
        <div class="form">
            <label for="location"></label>
            <input type="text" class="form-control" id="search_input" placeholder="Input Your Location" required />
            <input type="hidden" name="latitude" id="loc_lat" />
            <input type="hidden" name="longitude" id="loc_long" />
        </div>
        <div class="form">
            <label for="radius"></label>
            <input type="text" id="radius" name="radius" placeholder="Radius" required/>
        </div>
        <div class="form">
            <label for="round">Round of </label>
            <select id="round" name="round" required>
                <option value="4">4 (Semi-Final)</option>
                <option value="8">8 (Quarter-Final)</option>
            </select>
        </div>
        <div class="form">
            <label for="max_price">Max price:</label>
            <select id="max_price" name="max_price" required>
                <option value="2">Affordable</option>
                <option value="3">Medium</option>
                <option value="4">High-priced</option>
            </select>
        </div>
        <div class="form">
            <label for="open_now"></label>
            Open Now<input type="checkbox" id="open_now" name="open_now" value="True" />
        </div>
            <input type="submit" value="Search!" />
    </div>
</form>
<div>
{% endblock %}