{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">{% endblock %}
{% block content %}

<body>
<form class="box" method="POST" action="">
    {% csrf_token %}
    <h1>Login</h1>
    <div>
        <label for="id_username" id="login-1">ID</label><br>
        <input type="text" id="id_username" name="username" placeholder="Type your id" > 
    </div>
    <div>
        <label for="id_password" id="login-2">PASSWORD</label>
        <input type="password" id="id_password" name="password" placeholder="Type password"> 
    </div>
    <input type="submit" value="login" id="log-1" class="btn btn-outline-warning">
</form>

</body>
{% endblock %}