/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.486);
  padding: 20px 10px;
  margin-top: 30px;
}

  /* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding-right: 110px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 5rem;
}

/* Float the link section to the right */
.header-right {
float: right;
}

@media screen and (max-width: 600px) {
  .header a {
    padding-right: 1rem;
  }

  .header a.logo {
    padding-left: 2rem;
    font-size: 1.5rem;

  }
}