.div_title, .div_form {
    margin-top: 100px;
    text-align: center;
}

.form {
    margin-top: 10px;
    text-align: center;
}

.container-fluid {
    text-align: center;
  /* Set a specific height */
    height: 100%;
}

#search_input, #radius{
    width: 30%;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
}

#max_price, #round {
    width: 10%;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
}

body, html {
    height: 100%;
}