body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
    background-repeat : no-repeat;
    background-size : cover;
    
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding-left: 15%;
    padding-right: 0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin:0px;
	padding:0px;
}

.column {
    flex: 50%;
    padding: 15px;
    text-align: center;
    margin-bottom: 3rem;
}

.row {
    display: block;
    height: fit-content;
}

.title h1 {
    text-transform: capitalize;
    color: #cda45e;
    font-size: 4.5rem;
    margin: 5rem auto;
    margin-bottom: 0;
}

.title h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: " ";
    background-color: #c50000;
}

.subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color:white;
    padding-bottom: 0px;
}

label {
    color: white;
}

.form-group {
    margin: auto;
    text-align: center;
    
}
.form input {
    border-color: #cda45e;
	background: black;
	margin-top: 10px;
	text-align: center;
	border: 1.8px solid #cda45e;
	padding: 5px 20px;
	width: 250px;
	outline:none;
	border-radius: 24px;
	transition: 0.25s;
    color: white;
}

#search_input, #radius{
    width: 30%;
    height: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

#max_price{
    width: 10%;
    height: 1.3rem;
    font-size: 1rem;
    text-align: center;
}

#round {
    width: 10%;
    height: 1.5rem;
    font-size: 1rem;
    text-align: center;
}

#nearby {
    font-size: 1.5rem;
}

#submit-btn:hover {
    background-color: #cda45e;
    color: black
}

#round{
    width: 300px;
    height: 2rem;
    
}

input.chk-btn + label {
    font-size: 1rem;
	background: none;
	color: white;
	border: 1.8px solid #cda45e;
	border-radius: 24px;
	padding: 5px 20px;
	width: 150px;
    cursor: pointer;
}

input.chk-btn:checked + label:hover {
    color:black;
	background-color: #cda45e;
}

input.chk-btn:not(:checked) + label:hover {
    background: none;
	color:#cda45e;
}

input.chk-btn + label:active,
input.chk-btn:checked + label {
    color:black;
	background-color: #cda45e;
}

#open {
    display: none;
}

#open-now {
    padding: 1px;
}


select {
    border-color: #cda45e;
	background: black;
	display: white;
	margin-top: 10px;
	text-align: center;
	border: 1.8px solid #cda45e;
	padding: 3px 40px;
	width: fit-content;
	outline:none;
	border-radius: 24px;
	transition: 0.25s;
    color: white;
/* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
/* SVG background image 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat; */
}
select::-ms-expand {
    display: none;
}

input[type=range] {
    width: 100%;
    margin: 9.5px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
background: #000000;
border: 0;
border-radius: 11.6px;
width: 100%;
height: 5px;
cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
margin-top: -9.5px;
width: 12px;
height: 24px;
background: rgba(205, 164, 94, 0.9);
border: 1px solid #cda45e;
border-radius: 5px;
cursor: pointer;
-webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #050505;
}
input[type=range]::-moz-range-track {
background: #000000;
border: 0;
border-radius: 11.6px;
width: 100%;
height: 5px;
cursor: pointer;
}
input[type=range]::-moz-range-thumb {
width: 12px;
height: 24px;
background: rgba(205, 164, 94, 0.9);
border: 1px solid #cda45e;
border-radius: 5px;
cursor: pointer;
}
input[type=range]::-ms-track {
background: transparent;
border-color: transparent;
border-width: 9.5px 0;
color: transparent;
width: 100%;
height: 5px;
cursor: pointer;
}
input[type=range]::-ms-fill-lower {
background: #000000;
border: 0;
border-radius: 23.2px;
}
input[type=range]::-ms-fill-upper {
background: #000000;
border: 0;
border-radius: 23.2px;
}
input[type=range]::-ms-thumb {
width: 12px;
height: 24px;
background: rgba(205, 164, 94, 0.9);
border: 1px solid #cda45e;
border-radius: 5px;
cursor: pointer;
margin-top: 0px;
/*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
background: #050505;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
/* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
}
}

.error {
    text-align: center;
    color: red;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    .row {
        display: block;
        text-align: center;
    }

    title span.menu:after, title span.tournament:after, .subtitle-1:after {
        content: "\A";
        white-space: pre;
    }

    #search_input, #radius{
        width: 70%;
        height: fit-content;
        font-size: 1rem;
    }
    
    #max_price{
        height: fit-content;
        font-size: 1rem;
    }

    #round {
        width: 80%;
        height: fit-content;
        font-size: 1rem;
    }

    .column {
        margin-bottom: 0rem;
    }

    .title h1 {
        font-size: 2rem;
    }

    #submit-btn {
        width: fit-content;
    }

    
}