html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.8) ), url("https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1167&q=80");
    background-repeat : no-repeat;
    background-size : cover;
}

.display-1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: #cda45e;
    padding-top:5rem;
    text-align: center;
    margin-bottom: 0;
}
.display-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color:white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
.container-fluid {
    text-align: center;
}

.btn_back {
    width: auto;
    display:block;
    margin-left: 10%;
    border:1.8px solid #cda45e;
    border-radius: 24px;
    background: none;
    text-align: center;
    color: #cda45e;
    font-size: 1rem;
}

#div_img1, #div_img2 {
    border: solid 2px #cda45e;
    width: 35%;
    margin: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

#img1, #img2 {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    flex: 50%;
    padding: 15px;
}

.row {
    display: flex;
    text-align: center;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {
    .row {
        display: block;
    }
    .display-1 {
        padding-top: 5px;
    }
}