{% extends 'base.html' %}
{% block title %}Menu Tournament{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'works/css/choice.css' %}" />{% endblock %}
{% block script %}<script src="{% static 'works/js/choice.js' %}"></script>{% endblock %}
{% block content %}
    <h1 class="display-1">Menu Tournament</h1>
    <script type="text/javascript">
        let refs1 = [];
        {% for food_ref in result.keys %}
        refs1.push('{{food_ref}}');
        {% endfor %}
    </script>
  <div class="container-fluid">
  <div class="row">
    <div class="col" id="div_img1">
      <img id='img1' src='https://maps.googleapis.com/maps/api/place/photo?photoreference={{first_img_ref}}&maxwidth=600&key=AIzaSyAzbAG3wZN7pS2i0Dzs9MNzdqSfY7fvQF8' onclick='select1()' />
    </div>
    <div class="col" id="div_img2">
      <img id='img2' src='https://maps.googleapis.com/maps/api/place/photo?photoreference={{second_img_ref}}&maxwidth=600&key=AIzaSyAzbAG3wZN7pS2i0Dzs9MNzdqSfY7fvQF8' onclick='select2()' />
    </div>
    <button id="button1" onclick="cancel();">BACK</button>
  </div>
    <form id="end" action="{% url 'result' %}" method="POST"> 
        {% csrf_token %}
        <input type="hidden" id="selected_photo_ref" name="selected_photo_ref" value=""/> 
    </form>
{% endblock %}